<%- include('partials/header') -%>
<body>
    <section class="bg-dark text-light p-5">
    <% if (locals.messages.errors) { %>
        <% messages.errors.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %>    
    <% } %>
    <div class="container">
        <h1 class="text-light">Contact Us</h1>
    <form action="/contact/createContactNote" method="POST">
        <div class="row mb-3 form-group">
            <label for="contactName" class=" form-label">Name</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" name="contactName" aria-label="name">
            </div>
            </div>
        <div class="row mb-3 form-group">
            <label for="contactEmail" class=" form-label">Email</label>
            <div class="col-sm-5">
                <input type="email" class="form-control" name="contactEmail" aria-label="email">

            </div>
        </div>
        <div class="row mb-3 form-group">
            <label for="contactType" class=" form-label">Choose Category</label>
            <div class="col-sm-5"> 
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="contactType" id="question" value="question" checked>
                    <label class="form-check-label" for="question">
                      Question
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="contactType" id="comment" value="comment">
                    <label class="form-check-label" for="comment">
                      Comment
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="contactType" id="suggestion" value="suggestion">
                    <label class="form-check-label" for="suggestion">
                      Suggestion
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="contactType" id="complaint" value="complaint">
                    <label class="form-check-label" for="complaint">
                      Complaint
                    </label>
                  </div>
                </div>
        </div>
        <div class="row mb-3 form-group">
            <label for="contactNote" class=" form-label">Message</label>    
         <div class="col-sm-10">   
            <textarea class="form-control" name="contactNote" rows="3" aria-label="message"></textarea>
        </div>
    </div>
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>
</section>
<section class="bg-light text-dark p-5">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-md">
              <img src="/images/undraw_hello_re_3evm.svg" class="img-fluid" alt="People tasting food and rating it">
            </div>
            <div class="col-md p-5">
              <h2>Thanks for reaching out!</h2>
              <p class="lead">
               We appreciate hearing your comments and feedback.
              </p>
            </div>
          </div>
    </div>
</section>
</body>
</html>
<%- include('partials/footer') -%> 