<%- include('partials/header') -%>
<body>
      <section class="bg-dark text-light p-4 text-center text-sm-start">
        <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between">
          <div> 
          <h1>Keep track of the <span class="text-warning"> best eats</span> around!</h1>
            <p class="lead my-4">
              For food enthusiasts of all ages.
            </p>
            <button class="btn btn-primary btn-lg">Sign Up</button>
        </div>
        <img class="img-fluid w-50 d-none d-sm-block" src="img/showcase.jpg" alt="food">
        </div>
        </div>
      </section> 
      <section class="bg-primary text-light p-5">
        <div class="container">
          <div class="d-md-flex justify-content-between align-items-center">
            <h3 class="mb-3 mb-md-0">Sign Up For Our Newsletter</h3>
          <div class="input-group news-input">
            <input 
            type="text" 
            class="form-control"
            placeholder="Email"
            aria-label="Email"
            aria-describedby="button-addon2"
            />
            <button class="btn btn-dark btn-lg" type="button" id="button-addon2">Submit</button>
          </div>
          </div>
        </div>
      </section>
<section class="p-5">
  <div class="container">
    <div class="row text-center g-4" >
      <div class="col-md">
        <div class="card bg-dark text-light">
          <div class="card-body text-center">
           <div class="h1">
            <i class="bi bi-info-square"></i>
           </div>
            <h3 class="card-title">
              About Us
              </h3>
              <p class="card-text">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, consequuntur nam. Eveniet modi dolorum repellendus.
              </p>
              <a href="#" class="btn btn-primary">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="card bg-dark text-light">
          <div class="card-body text-center">
           <div class="h1">
            <i class="bi bi-list-ul"></i>
           </div>
            <h3 class="card-title">
              Lists
              </h3>
              <p class="card-text">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, consequuntur nam. Eveniet modi dolorum repellendus.
              </p>
              <a href="#" class="btn btn-primary">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="card bg-dark text-light">
          <div class="card-body text-center">
           <div class="h1">
            <i class="bi bi-lightbulb-fill"></i>
           </div>
            <h3 class="card-title">
              Selector
              </h3>
              <p class="card-text">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, consequuntur nam. Eveniet modi dolorum repellendus.
              </p>
              <a href="#" class="btn btn-primary">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="learn" class="p-5">
<div class="container">
  <div class="row align-items-center justify-content-between">
    <div class="col-md">
      <img src="img/fundamentals" class="img-fluid" alt="">
    </div>
    <div class="col-md p-5">
      <h2>Text</h2>
      <p class="lead">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, quo cupiditate! Quo dolorum nobis doloremque.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam nihil enim quam placeat praesentium magnam!
      </p>
      <a href="#" class="btn btn-light mt-3">
        <i class="bi bi-chevron-right"></i>Read More
      </a>
    </div>
  </div>
</div>

</section>

<section id="learn" class="p-5 bg-dark text-light">
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-md p-5">
        <h2>Text</h2>
        <p class="lead">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, quo cupiditate! Quo dolorum nobis doloremque.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam nihil enim quam placeat praesentium magnam!
        </p>
        <a href="#" class="btn btn-light mt-3">
          <i class="bi bi-chevron-right"></i>Read More
        </a>
      </div>
      <div class="col-md">
        <img src="img/fundamentals" class="img-fluid" alt="">
      </div>
    </div>
  </div>
  </section>

  <section id="questions" class="p-5">
    <div class="container">
      <h2 class="text-center mb-4">
        Frequently Asked Questions
      </h2>
      <div class="accordion" id="questions">
        <!-- Question 1 -->
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button 
            class="accordion-button" 
            type="button" 
            data-bs-toggle="collapse" 
            data-bs-target="#question-one" 
            aria-expanded="true" 
            aria-controls="collapseOne">
              What does "sik the day" mean?
            </button>
          </h2>
          <div id="question-one" 
          class="accordion-collapse collapse show" 
          aria-labelledby="question-one" 
          data-bs-parent="#questions">
            <div class="accordion-body">
              <strong>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur perferendis quo ipsa? Rem necessitatibus dolorum consequatur quo sint repudiandae adipisci eveniet optio magnam, dolores quia consequuntur deleniti tempora eius rerum beatae suscipit assumenda! Culpa doloribus voluptate assumenda voluptas blanditiis qui nam nostrum, facilis velit voluptatem odio asperiores reiciendis, iure beatae.</strong> 
            </div>
          </div>
        </div>
<!-- Question 2 -->
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button 
            class="accordion-button" 
            type="button" 
            data-bs-toggle="collapse" 
            data-bs-target="#question-two" 
            aria-expanded="true" 
            aria-controls="collapseOne">
              How much does it cost?
            </button>
          </h2>
          <div id="question-two" 
          class="accordion-collapse collapse" 
          aria-labelledby="question-two" 
          data-bs-parent="#questions">
            <div class="accordion-body">
              <strong>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur perferendis quo ipsa? Rem necessitatibus dolorum consequatur quo sint repudiandae adipisci eveniet optio magnam, dolores quia consequuntur deleniti tempora eius rerum beatae suscipit assumenda! Culpa doloribus voluptate assumenda voluptas blanditiis qui nam nostrum, facilis velit voluptatem odio asperiores reiciendis, iure beatae.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
          </div>
        </div>
<!-- Question 3 -->
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button 
            class="accordion-button" 
            type="button" 
            data-bs-toggle="collapse" 
            data-bs-target="#question-three" 
            aria-expanded="true" 
            aria-controls="collapseOne">
             How do I get started?
            </button>
          </h2>
          <div id="question-three" 
          class="accordion-collapse collapse" 
          aria-labelledby="question-three" 
          data-bs-parent="#questions">
            <div class="accordion-body">
              <strong>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur perferendis quo ipsa? Rem necessitatibus dolorum consequatur quo sint repudiandae adipisci eveniet optio magnam, dolores quia consequuntur deleniti tempora eius rerum beatae suscipit assumenda! Culpa doloribus voluptate assumenda voluptas blanditiis qui nam nostrum, facilis velit voluptatem odio asperiores reiciendis, iure beatae.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
          </div>
        </div>


      </div>
    </div>
  </section>
</body>
</html>
<%- include('partials/footer') -%>