<%- include('partials/header') -%>
<body>
      <section class="bg-dark text-light p-4 text-center text-sm-start">
        <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between">
          <div> 
          <h1>Keep track of the <span class="text-warning"> best eats</span> around!</h1>
            <p class="lead my-4">
              For food enthusiasts of all ages.
            </p>
            <button class="btn btn-primary btn-lg">Sign Up</button>
        </div>
        <img class="img-fluid w-50 d-none d-sm-block" src="img/showcase.jpg" alt="food">
        </div>
        </div>
      </section> 
      <section class="bg-primary text-light p-5">
        <div class="container">
          <div class="d-md-flex justify-content-between align-items-center">
            <h3 class="mb-3 mb-md-0">Sign Up For Our Newsletter</h3>
          <div class="input-group news-input">
            <input 
            type="text" 
            class="form-control"
            placeholder="Email"
            aria-label="Email"
            aria-describedby="button-addon2"
            />
            <button class="btn btn-dark btn-lg" type="button" id="button-addon2">Submit</button>
          </div>
          
          </div>

        </div>
      </section>
    <h1>Keep track of the best eats around!</h1>
    <a href="/login"> Login</a>
    <a href="/signup"> Signup</a>

    <h2>"What are you hungry for?</h2>
    <p>The dreaded question we all face and are often unprepared for.</p>
    <p>That's were Sik the Day comes in!</p>
</body>
</html>
<%- include('partials/footer') -%>