<%- include('partials/header') -%>
<body>
    <section class="bg-dark text-light p-4 text-left">
    <div class="container">
        <div class="align-items-center">
         <h1>Profile</h1>
        </div>
    </div>
    <div class="container p-2">
        <h2>My Info</h2>
        <div class="p-2">
        <p>Username: </p>
        <p>Email: </p>
        </div>
    </div>
</section>
    <section class="bg-light text-dark p-4">
    <div class="container">
    <h2> My Ratings</h2>
    <div class="p-2">
        <p>Total ratings: </p>
        <p>Average authenticity rating: </p>
        <p>Average atmosphere rating: </p>
        <p>Average taste rating: </p>
    </div>
    <div class="p-2">
    <a href="/places" class="btn btn-success btn-lg">Lists</a>
    </div>
    <div class="p-2">
    <a href="/favorites" class="btn btn-success btn-lg">Favorites</a>
    </div>
    <div class="p-2">
    <a href="/selector" class="btn btn-success btn-lg">Selector</a>
    </div>    
</div>
    </section>
   
    <script src="js/main.js"></script>
</body>
</html>
<%- include('partials/footer') -%>