<%- include('partials/header') -%>
<body>
    <section class="bg-light text-dark p-4 text-left">
    <div class="container">
        <div class="align-items-center">
         <h1>Profile</h1>
        </div>
    </div>
    </section>
   
    <script src="js/main.js"></script>
</body>
</html>
<%- include('partials/footer') -%>